---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Art - Jonathan Youngblood">


<div class="grid-gallery flex flex-wrap">

<!-- fixit images plugin -->
  <div class="image-container fuckthisshit w-50-ns w-100 ">
    <a href="/images/art/1 2.jpg" target="_blank"><img src="/images/art/1 2.jpg"></a>
  </div>
  <div class="image-container fuckthisshit w-50-ns w-100 ">
    <a href="/images/art/2 2.jpg" target="_blank"><img src="/images/art/2 2.jpg"></a>
  </div>


  <!-- <div class="image-container fuckthisshit w-50-ns w-100 ">
    <a href="/images/art/vhs-2.png"></a>
  </div>
  <div class="image-container fuckthisshit w-50-ns w-100 ">
    <a href="/images/art/vhs-1.png"></a>
  </div> -->

  <div class="image-container fuckthisshit w-50-ns w-100 ">
    <a href="/images/art/IMG_3553.jpeg" target="_blank"><img src="/images/art/IMG_3553.jpeg"></a>
  </div>
  <div class="image-container fuckthisshit w-50-ns w-100 ">
    <a href="/images/art/6.jpg" target="_blank"><img src="/images/art/6.jpg"></a>
  </div>

  <!-- <div class="image-container fuckthisshit w-50-ns w-100 ">
    <a href="/images/art/jyclockthing.png"></a>
  </div>
  <div class="image-container fuckthisshit w-50-ns w-100 ">
    <a href="/images/art/IMG_3565 edit.jpg"></a>
  </div> -->
  <div class="image-container fuckthisshit w-50-ns w-100 ">
    <a href="/images/art/2.jpg" target="_blank"><img src="/images/art/2.jpg"></a>
  </div>

  <div class="image-container fuckthisshit w-50-ns w-100 ">
    <a href="/images/art/photo 4 copy.JPG" target="_blank"><img src="/images/art/photo 4 copy.JPG"></a>
  </div>

  <!-- <div class="image-container fuckthisshit w-50-ns w-100 ">
    <a href="/images/art/4.jpg"></a>
  </div>
  <div class="image-container fuckthisshit w-50-ns w-100 ">
    <a href="/images/art/3.jpg"></a>
  </div> -->
  <div class="image-container fuckthisshit w-50-ns w-100 ">
    <a href="/images/art/1.jpg" target="_blank"><img src="/images/art/1.jpg"></a>
  </div>
  <div class="image-container fuckthisshit w-50-ns w-100 ">
    <a href="/images/art/IMG_0041.JPG" target="_blank"><img src="/images/art/IMG_0041.JPG"></a>
  </div>











</div>

</Layout>

<style>
  .fuckthisshit img {
    width: 100%;
    height: auto;
  }
</style>
