---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jonathan Youngblood">
  <div class="dt h-100 center">
    <div class="dtc v-mid lh-copy tc">
      <div class="f4">JONATHAN YOUNGBLOOD</div>
      <br /><br />

      <div class="flex flex-wrap items-center">
        <div class="pr3 pt4">
          <!-- WELCOME TO MY WEB SITE -->

          <!-- <br /> -->
          <img class="dib w5" src="/images/art-pencil-triangles.png" />

          <!-- I LOVE YOU -->
          <!-- SELECT WORKS -->
        </div>

        <div class="pl3">
          <!-- MailerLite Universal -->
          <script>
            (function (w, d, e, u, f, l, n) {
              (w[f] =
                w[f] ||
                function () {
                  (w[f].q = w[f].q || []).push(arguments);
                }),
                (l = d.createElement(e)),
                (l.async = 1),
                (l.src = u),
                (n = d.getElementsByTagName(e)[0]),
                n.parentNode.insertBefore(l, n);
            })(
              window,
              document,
              "script",
              "https://assets.mailerlite.com/js/universal.js",
              "ml"
            );
            ml("account", "1080419");
          </script>
          <!-- End MailerLite Universal -->

          <div class="pt1 ml-embedded" data-form="3z13pO"></div>
        </div>
      </div>
    </div>
  </div>

</Layout>
