---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Jonathan Youngblood">




  

  <div class="dt h-100 center">
    <div class="dtc v-mid lh-copy tc">

<!-- WELCOME TO MY WEB SITE -->
JONATHAN YOUNGBLOOD

<br />
  <img class="dib w-50 mv3" src="/images/art-pencil-triangles.png" />
<br />

<!-- I LOVE YOU -->
SELECT WORKS

    </div>
  </div>






</Layout>

<style>
</style>
