---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

const imageFiles = await Astro.glob("../assets/photos/*");
---

<Layout title="Photos - Jonathan Youngblood">
  <div class="grid-gallery flex flex-wrap">
    {
      imageFiles.map((img) => (
        <div class="image-container fuckthisshit w-50-ns w-100 ">
          <a href={img.default.src} aria-label="" target="_blank">
            <Image
              src={img.default}
              alt=""
              sizes={`(min-width: 10em) 50vw, 100vw, ${img.default.width}px`}
            />
          </a>
        </div>
      ))
    }
  </div>
</Layout>

<style>
  .fuckthisshit img {
    width: 100%;
    height: auto;
  }
</style>
