---
import Layout from "../layouts/Layout.astro";
import ProjectsTable from "../components/ProjectsTable.astro";
import { projects as _projects } from "../data/projects.js";

const projects = _projects.filter((project) => !project.tags.includes("client") && !project.hidden);
---

<Layout title="Projects - Jonathan Youngblood">
  <div class="pa2 overflow-y-auto">
    <ProjectsTable projects={projects} />
  </div>
</Layout>
