<link rel="stylesheet" href="/css/mailerlite.css" />

<div
  id="mlb2-17754491"
  class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-17754491"
>
  <div class="ml-form-align-left">
    <div class="ml-form-embedWrapper embedForm">
      <div class="ml-form-embedBody ml-form-embedBodyDefault row-form">
        <div class="ml-form-embedContent" style=" ">
          <h4></h4>
          <p>
            <strong
              ><span style="font-size: 16px;">COMMUNICATION DISPATCH</span
              ></strong
            >
          </p>
          <p>
            Prints for sale, gallery showings, new projects...subscribe to the
            newsletter and&nbsp;I'll let you know when there's something to
            know!
          </p>
        </div>

        <form
          class="ml-block-form"
          action="https://assets.mailerlite.com/jsonp/1080419/forms/131570581289043336/subscribe"
          data-code=""
          method="post"
          target="_blank"
        >
          <div class="ml-form-formContent">
            <div class="ml-form-fieldRow ml-last-item">
              <div
                class="ml-field-group ml-field-email ml-validate-email ml-validate-required"
              >
                <!-- input -->
                <input
                  aria-label="email"
                  aria-required="true"
                  type="email"
                  class="form-control"
                  data-inputmask=""
                  name="fields[email]"
                  placeholder="Email"
                  autocomplete="email"
                />
                <!-- /input -->

                <!-- textarea -->

                <!-- /textarea -->

                <!-- select -->

                <!-- /select -->

                <!-- checkboxes -->

                <!-- /checkboxes -->

                <!-- radio -->

                <!-- /radio -->

                <!-- countries -->

                <!-- /countries -->
              </div>
            </div>
          </div>

          <!-- Privacy policy -->

          <!-- /Privacy policy -->

          <input type="hidden" name="ml-submit" value="1" />

          <div class="ml-form-embedSubmit">
            <button type="submit" class="primary">Subscribe</button>

            <button
              disabled="disabled"
              style="display: none;"
              type="button"
              class="loading"
            >
              <div class="ml-form-embedSubmitLoad"></div>
              <span class="sr-only">Loading...</span>
            </button>
          </div>

          <input type="hidden" name="anticsrf" value="true" />
        </form>
      </div>

      <div class="ml-form-successBody row-success" style="display: none">
        <div class="ml-form-successContent">
          <h4></h4>
          <p>
            <span style="font-size: 16px;"><strong>WELCOME!</strong></span>
          </p>
          <p>
            You're on the list, remember to confirm your address using the link
            in the email we just sent you.
          </p>
          <p>Talk to you soon!</p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function ml_webform_success_17754491() {
    var $ = ml_jQuery || jQuery;
    $(".ml-subscribe-form-17754491 .row-success").show();
    $(".ml-subscribe-form-17754491 .row-form").hide();
  }
</script>

<script
  src="https://groot.mailerlite.com/js/w/webforms.min.js?v2d8fb22bb5b3677f161552cd9e774127"
  type="text/javascript"></script>
<script>
  fetch(
    "https://assets.mailerlite.com/jsonp/1080419/forms/131570581289043336/takel"
  );
</script>
