---
layout: base.html
title: JY projects
---



<style>



</style>

<div class="pa1">

<table class="projects-table lh-copy f6">
  <thead>
    <tr class="o-30">
      <th class="tl">Project</th>
      <th class="tl">Type</th>
      <th class="tl">Status</th>
      <th class="tl">Year</th>
      <th class="tl">Descr</th>
    </tr>
  </thead>
  <tbody>


{% for project in projects %}

<tr>
  <td>{% if project.url %}<a target="_blank" href="{{ project.url }}">{{ project.title }}</a>{% else %}{{ project.title }}{% endif %}</td>
  <td>{{ project.type }}</td>
  <td>{{ project.status }}</td>
  <td>{{ project.year }}</td>
  <td>{{ project.description }}</td>
</tr>

{% endfor %}



  </tbody>
</table>


</div>